Backend/HELP.md
Backend/target/
!Backend/.mvn/wrapper/maven-wrapper.jar
!Backend/**/src/main/**
!Backend/**/src/test/**
Backend/logs/
Backend/CampusTransactionSourceTrail.srctrlbm
Backend/CampusTransactionSourceTrail.srctrldb
Backend/CampusTransactionSourceTrail.srctrlprj
Backend/sourcetrail_dependencies/


### STS ###
Backend/.apt_generated
Backend/.classpath
Backend/.factorypath
Backend/.project
Backend/.settings
Backend/.springBeans
Backend/.sts4-cache

### IntelliJ IDEA ###
Backend/.idea
Backend/*.iws
Backend/*.iml
Backend/*.ipr

### NetBeans ###
Backend/nbproject/private/
Backend/nbbuild/
Backend/dist/
Backend/nbdist/
Backend/.nb-gradle/
Backend/build/

### VS Code ###
Backend/.vscode/

### git
.git

.idea
node_modules/
docs/
